{% extends "base_dashboard.html" %}

{% block extra_css %}
<style>
    .main-content {
        padding: 0 !important;
        position: relative;
        height: 100vh;
        margin: 0;
    }
    .looker-container {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .looker-iframe {
        width: 100%;
        height: 100%;
        border: 0;
    }
</style>
{% endblock %}

{% block dashboard_content %}
<div class="main-content">
    <div class="looker-container">
        <iframe 
            class="looker-iframe"
            src="https://lookerstudio.google.com/embed/reporting/88d017ad-c82a-4aed-9355-6400e0addd37/page/p_i9pdzatskd"
            frameborder="0"
            allowfullscreen
            sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox">
        </iframe>
    </div>
</div>
{% endblock %}
