{% if current_user.is_authenticated %}
<div class="position-sticky pt-3">
    <!-- Logo Ministerio de Seguridad Nacional -->
    <div class="text-center mb-4 bg-white p-3 rounded">
        <img src="{{ url_for('static', filename='img/Logo MInisterio en negro.png') }}" alt="Logo Ministerio de Seguridad" class="img-fluid mb-2" style="max-width: 180px;">
        <h6 class="fw-bold mt-2">Ministerio de Seguridad Nacional</h6>
        <p class="small text-muted">Observatorio de Drogas Sintéticas</p>
    </div>
    
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link {{ 'active' if request.endpoint == 'main.home' }}" href="{{ url_for('main.home') }}">
                <i class="fas fa-home"></i>
                Inicio
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link allow-wrap {{ 'active' if request.endpoint == 'main.geomap' }}" href="{{ url_for('main.geomap') }}">
                <i class="fas fa-map-marked-alt"></i>
                Mapa Interactivo
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ 'active' if request.endpoint == 'main.legislation' }}" href="{{ url_for('main.legislation') }}">
                <i class="fas fa-gavel"></i>
                Legislación
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ 'active' if request.endpoint == 'main.agenda' }}" href="{{ url_for('main.agenda') }}">
                <i class="fas fa-calendar-alt"></i>
                Agenda MinSeg
            </a>
        </li>
        {% if current_user.role in ['administrador', 'analista'] %}
        <li class="nav-item">
            <a class="nav-link allow-wrap {{ 'active' if request.endpoint == 'main.analisis_tecnico' }}" href="{{ url_for('main.analisis_tecnico') }}">
                <i class="fas fa-chart-line"></i>
                Análisis técnico
            </a>
        </li>
        {% endif %}
    </ul>

    <hr class="my-3">

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Configuración</span>
    </h6>
    
    <ul class="nav flex-column">
        {% if current_user.role != 'consultor' %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.change_password') }}">
                <i class="fas fa-key"></i>
                Cambiar Contraseña
            </a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.logout') }}">
                <i class="fas fa-sign-out-alt"></i>
                Cerrar Sesión
            </a>
        </li>
    </ul>
    
    <div class="mt-5 pt-5 text-center">
        <small class="text-muted">© 2025 Ministerio de Seguridad Nacional</small>
    </div>
</div>
{% endif %}
