@charset "UTF-8";
/*!
 * icono-arg v0.2 (https://github.com/argob/iconos)
 * Copyright 2016
 * Subsecretaría de Gobierno Abierto y País Digital
 * Presidencia de la Nación Argentina
 * Licenciado bajo MIT (https://github.com/argob/iconos/LICENSE)
 */

@font-face {
  font-family: "icono-arg";
  src: url("../fonts/icono-arg_0c8d445a9e5c6f9ba718fc6948c211a8.eot?") format("e
mbedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icono-arg";
  src: url("data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAABGwgAA
0AAAAHi7wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAARsBAAAABkAAAAcrMxCEE9TLzIAAAGkAA
AASQAAAGBP9mMqY21hcAAACCwAAAVqAAAJMkIhbRZjdnQgAAANmAAAAAQAAAAEABEBRGdhc3AABGv8AA
AACAAAAAj//wADZ2x5ZgAAF9AABDcYAAcjaHWxRdNoZWFkAAABMAAAADEAAAA2KWBsyWhoZWEAAAFkAA
AAIAAAACQDsQV0aG10eAAAAfAAAAY6AAAO0pnw/ahsb2NhAAANnAAACjQAAA7cDG33xG1heHAAAAGEAA
AAIAAAACAEOwjIbmFtZQAETugAAADZAAABtt6yau9wb3N0AARPxAAAHDUAAD3XvhEywHgBY2BkYABhJ4
3P3vH8Nl8ZuJkYQOCJi5gilFb6v/P/ASYGxhNALgcDE0g1ABSgCmMAAAB4AWNgZGBgPPH/AIMeE8P/nQ
wMTEAuAwpg3gwAesgFKwABAAADtgiXAEMAAAAAAAIAAAABAAEAAABAAC4AAAAAeAFjYGFsYZzAwMrAwO
jDmMbAwOAOpb8ySDK0MDAwMbAyM8AAowADAgSkuaYwNDAofK9jPPD/AIMe4wkGB5AaJCUKDIwALTILyQ
AAAHgBLdYDlBzLHgfgmWfbtu0X27Zt27Ztcxl7d2+yiG2bm8vYmPvNntpzvvP7d1V1d3V19SSRjMjXI/
G/FPZFItEpnIy9iRaVffgxhcmkPW1oyfUgk6LkhON5VGYJhRnGDH7GeTrxbSoymBx6UJhu1KINRamA+U
Quy/z0objjvXIMXfllyF+zgXzcNiYtjB/KVppSG9ePvOKiuhI9PetXHb+v/j6j6EwlUulGFmv5DUOpw0
aKB/VJoQVZNHfNEeH+6Wwmhza0oiRDKE0O19lDFiOwppF4PZgW/INRlOAOVfXfkgX4NAvcr2lY2xKUCT
mcdaH+f+xtdKq8zAKWO06LxayXdaM1Pfkq5xmHdxfZYMxo9S8YwjrKksuf9H8gZzGGGXTmMjNiz6KFYq
/z3vW/OWTsLPkDvsdPAsDYRrIH87hMLn2ZyXecf1ROMO8/yx3Er5/l2YeFdfqTvnzGZahPBUs5oe1D+X
kSuMoKba9lRb4dexF9R66iMZkcph2b+D0DOBUygT78lEz+G1Qjkz/xA7rzBwoynJYcZUBgbGSerE0R9Q
cQnU0OVfgfEf5FBqO4wWQGcJxK1uC8Z2+j7keTcO37sgb/pg/VOMAY3qUnm1jPOmozkJbh3JZkksMGwP
qRRksWGJsrPySVoSwPdSJzOc5q/s1gNoT9O5Fl/DD2NrLSuzwQzttHCb7LNzlANyawmixGx15Fz8oEbn
n+WjKdKXQkm3CeY88aexq9YNzQ8J7X8n1Gs5k/BzdZHvyK86yOvYwuDN9EModiryMZ8kzYa2vtn4XmEx
833fdyW9sgfUvlHVL4HTfoyEt+iP7IS+9thxrvNiR99T2W3UmmPqnM5gcc1P/KmpVRn2J2MJV3mENBY5
5DdHX4Bh6zjbaMZi97gjNM5QTzOEu+oAV3KUVtMqlDaWv6bfNIU38rfEuzZQJDg3R2sYUDDGUEw1jBPq
owmpPsJJE5bKARYA8wkSUsZTeEfu2ghrWso1HQkEZBBulcpx7daUmXcLyYZL7PDv6LOYdv2LOTzQjyc4
rzZFqTH8kZseeRJ7I+DThIKj9lHj8I7+QG+ejNPUZzi8RQ/4uN5NpjKeGZdvELLlAj9jgvL3GN09wlM/
gWx0hmBRe5RCaFeRzMC86wnSu8yyl7dKd8jnRvNVspRFce8MzeXyLbc529pDKC5eaeJBfL/a7XU1YOv/
eH2UyS9uZhff9AZ9/sX8Pz7gB7O6SxoTbueXSuPdg/PMc987jMPU4zk6XMDfs8gePe0SQZd4kSrldIW1
rsmft5JxwngxQSae4e8435IPSlsIbsUCfwUfy7ZIp6hzzHGfVn4slHHHMs1H5v/PbFwjMmk0Z3jvstWS
e/y0JzGm3+hczxm2wK38Z69QJGqxOs505jxqrJOx4h9zHKvR7JhfQigW5UoYy1ayiz2eqe1iVyV93cdY
vIzUzlN6RxWXuSLMEixpDOKbbpOxCOL7DUWsXH31NPsXa+U+xbdaqsze9J4gjLgyPW5Jo8x2m205lcWn
GN/1KeZoxlAptC/YBzlLFuie6fov4GMvIo7IPz7GMIhbT9mu8YO8nxcPZxi92c095W1pS58oHUb73vRS
+HMUOCZ5znquu9Dn3pQWOyzemedWkaS8t7zxuC48bHcyS5/JGStCRdX0PnfEV2k1/gpPb65lFCDrZeH+
hrqf03clt4N81jscgxYwp47rc8DN92QfbG24y1n62bdYbIh/LvzA25kSuucUEeYijVuEB/VrjGg7A3iT
yLz119UdsQ9XHyOa7hnefKJO3J2g4AcDaIOwUEzpFY85ApHGQQ24KTLGcjUXN5In8Sv6c1H+/Z2oZvbF
rsReSB7K/thdxKsrYsx8+cd9lcM8Pe2uybyPsGXOekenFYm40ssnYp8WQ01u8TEfm++abKGkzyHX7TcZ
a6j/HHwlzrM5f1rKMRB/gvDegYLOK7zArtFZjM4FD3Zghfo2IY15EV7tVfNmQFoxy3pr16Bukm+sS/1d
PDPf7GZH7ESMobW4FT6hFspw9/8HvRNtxnO9vI5jJXWMsJ0lw7vgeuqzPC/3G2s1F9SWbLuAT1TetaU8
5mkXMqyW3W7V/cUedqyzU2Vd2D1aSyyfwK6fM8Mvx9DLFicfEAAHgBLMdFQQQBAAXQt+6u44PblKMAEb
hSigLIjQK4O+z3j8rKsRI0CxUlxKrNIbqayqryu/OH48fbp6OvL37e4d3Nw8nj29fX1xWAEtouq/P6Ka
pq6hqaWto6unr6BoZGxiamZuYWlgKhSCyRyuTWrNuwacu2Hbv27DtQfBMEDwYSAAAAgFrobds2zrZtTH
5lybIVq9as27Bpy7Ydu/bsO3DoyLETp86cu3DpyrUbt+7ce8CjJ89evHrz7sOnL99+/PrzLyCIkLCIqJ
i4hKQUSMvIysmDgqISyiqoqqlroKmljY6uHvoGhkbGJqaYmS8IggcDBAAAAGD7Pdu2bbs+axMQFBIWER
UTl5CUkpaRlZNXUFRSVlFVU9fQ1NLW0dXTNzA0MjYxNTO3sLSytrG1s3dwdHJ2cXVz9/D08vbx9fsTBA
9GEAMAAMCy/1hv27Zt9pqIiIqJS0hKScvIyoE8CopKyiqqauoamlraOrp6+gaGRsYmpmbmFpZWWNvY2t
k7ODo5u7i6uXt4enn7+OLnLwg5ggdEBQAoAGBv37aNbNt1/yPFLVYCe/YdRDh05NiJU2fOXUS4dOXajV
t3Ee49ePTk2YtXb959+PTl249ff/4lJKWkZWTl5BUUlZQjVFTV1DU0tWJDW0dXT9/A0MjYxNTM3CJ2rB
mUBysHACAIoO8Xd7YZ27bddtajC5eu4l/H3rh1596Dx2BPnr149ebdh09fvv349edfQlJKOlIZWbn4eQ
VFJWWVYFU1dQ1NLW2dULp6+gaGRsYmpmbmFpZW1jaR2NrZOzg6BTtzOA9IEgAwEACrf3+2bdu2bdu2uY
idiRApSrQYseLES5AoSbIUqW+40qTLkClLthy58uQrUKhIsRKlypSrUKkqeCuq1ahVp16DRk2atWjVpl
2HTl269ejVp9+AQUOGjRg1ZtyESVOmzZg1Z96CRUuWrVi1Zt2GTVu27di1Z9+BQ0eOnTh15tyFS1eu3b
h190HLvQePnjx7efP58Lf+nerD3oa3/q+8XQpCu7wCnOPaJAAAABEBRHgBVJJTlB5ZFIX3vTe2jba5Jr
ZtO21rrYltc2ybsZ2MklZs2za/13k4f1UdbHVLkqQ+/y8bIhUoIRVsIRWuIBVZIBXrIJWoI5W8IpWuIZ
WZIpXdJJXnvUKaVPE3qdIqqQr7VbmvVodaJ1WnV6uK5DFA8oySvHZJ3uD6xEl+2VLAMilojBT8rxTynh
T6kxT2QopgP/KG9JYH9USq20Sqh6b68DVsQIHbtIzU4oLUGvw28LerQHHToYjUKULqDFfXB1I3dnvC1+
uM1Psjqd8Sqf8IaUAUhZ9B3A/Gz5Au0lAfaRjzqCwpuofEmRLoJ4KTDF/KNiltgpSOzgz8Z4KdFUXh42
1uRhSQxsyRxpHXeHxNaCNNQtNUZtPRPRMPs8GbQ2ZzD0jzA6QFfC+8Iy3G/7ttKPbfx/cHcH3E/GO8f4
Kmz9D8eZL0FRhf4+Ub9r5j73vy/hGtP7H7M3p+Zf7bEel3Mv0DjGXkslzSCjBWn5DWkO86dK4nn43Z0i
b4N5PrFmob3nbg9R/w/1sg7ZGUg7c8bvPp7cPXfrI+SMaHCefIOukoGo6h7UQd6XQEBe9ZeM+T7cXPpE
tkdYXeNTivi0LbjXzpJs9b8N2Oo8C+20K6N0V6iMdH4D7l+Rxfr4rImD4y9jsZd0Sm0DKZwp/JFD0gU+
wnmVIzZMp4yJS9I1PeR6YCu5VKyFRmVuWCTNVsmervydRgp2YVittaYNRm16OGjFcPGV/J+HMTCFfQDZ
nQJzKRI2Tq8M3/nmkYIdOE2+bbZFqy3xbM9mdkOjLvxF6Xj2S6Rcl0nyLTg52eaOr1QqbPGJl+BWT6o3
3AAJmB9Ae3kRkCxrAFMtEFKPhiwItdIhNPP4HdxH9lkjbJJHeRSQUzHZyMDjJZdWRGtJAZmS8zOkRmDB
zjuB+P98mrZKaSycwJMrOHyMzF4zywFqHvO3x+X4bC+49wroiTWcVsLZrX0duAt409KDg3cbsZLVtrUO
Dv4H7XA5m/ufsP/t1kuYd+Dry58OWtk9lHtgcCZA6R4RH2jjWQOQHfKfbO4Pscd+fpXUDjJfxcnSNzDQ
3Xd8nchvcumu/Rv58k8xDPT+B8yuwZubwA7yVZvcqXNQVkC4TIFhojW2SObLERssXXyZZpIVv2PdnyTW
Qr8F1xk2zlI7JV2a0WQt2RrREgW/uKrOcNWW92fMHyox8AThCzYA/ZEMmGgRE+QzbCRzYSnrcqyNZjt/
4J2QZTZBuy32iBbGMPCqwmP8k2p1qir3WUbFtm7eHuxH7nJ7LdvpPtcUC21xDZvkVk+/M9mP7QCNlh6I
iiYniPKyEbD0YiO8nwpMCdCm7aGdkMfGaCmwXf20Uo9I14ITsKzNHLZMelyU5A98TfZCexP4X7acymo3
VGB9mZ3MxuIzuX93lwLxggu/CC7OIQiu8l1FLq3Sqyn5DRZ+x9UUP2a3x/Qw7fktP3ZPTrZ7I/o+sXtP
xO/dFFdhkYK8Be10N2PbcbV8luZrYNzzvx9Td+dz+QzYYvn8wO4PcomR6Lkz2O1lP0znB/EfzL6L6xRP
Y2z3tfyT4E/xE+H+PxSQPZp2kUHM/4ez9n5wX5vJwg+yqAypZ93UbOVJBzP8kVuCFXiPfCPnJF6BfbJF
fSQ65UHbnSFP8zrlyAXHmelULkquySq/ZAriY7HvS8Tsh5J8n5XJDz3Sbn/0IuIF8uEOxg9kOrUE/kws
GNXCZXZ4ZcfbgarpJr/q9cC747lpHrRK9zE7kuQ+S6L5HrSa83OH2y5fplyfVH4wDuB16RG/ye3LAecs
PHyMWCkQBvEv3UOLn0CLmMI3KZB+SymI/A08g7cmPoj2Vn3By58cynwD+N25nwzRohNztKbg5ZzMPXAj
QvxNMi7pawuxRP73aRex99HzWQ+xjPn+Lvc26/pP9NB7kf8PozmL+B/wdcy9hZBe4GtG1C/1b628Hexc
0/4P5LXv9xu5uM95SgyCF7glwOOnLB3sf9WW7Ok/UF8ruI1svkfQVd13heh+MW3u6y/wDMh3A8Jq9nYD
1H70uwX91RAfOmoXIM0DMJgnBdbnq+2LZt27Ztmxvbtm3btm3btp3nR72aLnQlu1tZLtgsuf+BNZcLcA
++CHySC7VKLjT38JKLUFsuUj+5yPPkomaWi8ZzrNBycX/JxQ8N4CR4JJeYsySN5VKmlkuzSS5deHBLLu
M0uSyxwTi5bPHlcrSWy7lNLje6eXgvkF6u0C65IviX6CZXKjQYBchQOjfAt0xx0As8kyu7DqBfDk755m
AfIEuF+nIV88tVSgyYqX5IrgbcmuxRvzRgvuE3ucb1wSW5Jug3uybX/JVci0FyLYfJtWa2DTNt0WvHTA
eydSRjp+pyQdHBOrkuTq4r+budk+vOew+y9Dwl1xu9vuTph09/9AagO/CY3KBlckPQGApvGD2Mwmc8+h
OD5CaRcQo7TgsuNwPMYnYxM6vpYS3+G/DYgtZW9t+G7nY8dtDbTjrfDX8v3gfgHaLrw3CPkvM4/Z0qDd
jtLJ2e59sl+rhK77fJfa8wYM+HdPVCcm/Qf8ce/P1wH8nyCf3f9WXBysv4PWAuO3glMxCILAvfWBbhmS
xykCzqLhk/9xYrtSwuiDdIFn+eLOEmWbJTspTrZKnRSss9I9+yws++SpajlyxnN1muc7Lci2T8P7B8Tl
YgMmC+KDol88vKwCkbW1bukawCnIqTZJUuyaqOklXjvLoA8zVqy2o2BpzXCi2rC6feO1mj3LLGZGzKt+
bDZC3ay1pek7XGqy17tSNre+4dOQsiY1c8uleX9dgn6wWvzy1ZX/YYkFw2EL9B5BtZXDaKswnMTAovm4
z2lMqyqXybtk02k15mMTe3NCDrAnZcQo7lzWUr0F6J/1o01pN5A9iEzla+b0sv247WHt73s9Oh4LJjrW
Wn0Dsn2QV6ukjGy9NkV+j/Gn1fJ+8N+r9Jp7fh3oF7D88Hkj1E4xH5n5SXPaWv54VlL+nxNedv4b0j7/
tfso/MfeL5C7t8hf+dHD+djP8D9gfu3+zyiiz/3zrwSt71krdp8n6WfPBf8iGTy4dOLR8uPzglHyG4fM
R
